body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 60%;
  align-items: center;
  margin-top: 200px;
}
form{
  width:100%
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  align-self: flex-start;
}

li {
  display: flex;
  align-items: center;
}

.completed label {
  text-decoration: line-through;
}
